/** GENERAL **/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Arial';
}
body{
	overflow-x: hidden;
}
.full-width, .boxed-width{
	width: 100%;
}
.boxed-width{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
/**  HEADER  **/
header .top-bar{
	background-color: #3b3b3b;
	color: #cbcaca;
	padding: 10px 20px;
}
header .top-bar .item{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}
header .top-bar .item img{
	width: 30px;
	margin-right: 10px;
}
header .top-bar .item p{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
header .first-box, header .second-box{
	background-color: #ec110b;
}
header .first-box a, header .second-box a{
	color: #fff;
	text-decoration: none;
}
header .first-box nav ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	padding: 10px 0px;
	font-size: 16px;
}
header .first-box nav ul li{
	margin-right: 30px;
}
header .first-box nav ul li:last-child{
	margin-right: 0px;
}
header nav ul li:hover > a{
	color: #e5e406;
}
header .second-box{
	position: relative;
}
header .second-box .contain{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
header .second-box .logo{
	align-self: flex-start;
	padding-bottom: 30px;
}
header .second-box .logo a img{
	width: 150px;
}
header .second-box .navigation-elements{
	padding-bottom: 10px;
	display: flex;
	align-items: flex-end;
}
header .second-box .navigation-elements > *{
	display: inline-block;
}
header .second-box .navigation-elements nav ul{
	list-style: none;
	margin-right: 20px;
}
header .second-box .navigation-elements nav ul li{
	display: inline-block;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 30px;
	margin-bottom: -10px;
	padding-bottom: 15px;
}
header .second-box .navigation-elements nav ul li:last-child{
	margin-right: 0px;
}
header .second-box .navigation-elements .searcher{
	margin-right: 10px;
}
header .second-box .navigation-elements .searcher form input[type="search"]{
	background-color: #fff;
    border: 0px solid transparent;
    padding: 7px 10px;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
}
header .second-box .navigation-elements .searcher form input[type="search"]:focus, header .second-box .navigation-elements .searcher form button:focus{
	outline:0px;
}
header .second-box .navigation-elements .searcher form button:hover{
	cursor: pointer;
}
header .second-box .navigation-elements .searcher form button{
	background-color: #90908f;
    border: 0px solid transparent;
    padding: 7px 10px;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    position: relative;
    left: -4px;
    font-size: 18px;
}
header .second-box .navigation-elements .shopping-cart img{width: 28px;}
.value-proposal-box .value-proposal{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0px 0px 20px 0px;
}
.value-proposal-box .value-proposal .item{
	width: 25%;
	border-right: 1px dashed #646162;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.value-proposal-box .value-proposal .item .contain{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 80%;
}
.value-proposal-box .value-proposal .item:last-child{
	border-right-width: 0px;
}
.value-proposal-box .value-proposal .item i{color: #a91410;margin-right: 10px;font-size: 24px;}
.value-proposal-box .value-proposal .item p{font-size: 18px;font-weight: lighter;}
.value-proposal-box .value-proposal .item p span{font-weight: bold;}
header .banner{margin-bottom: 20px;}
header .banner .ban img{width: 100%;display: block;}
header nav ul li .menu-sub-item{
	background-color: #fff;
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	z-index: 19;
	border-bottom: 1px solid #ec110b80;
	padding: 20px 0px;
	opacity: 0;
	top: -300vh;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
header nav ul li.menu-sub a{position: relative;}
header nav ul li.menu-sub a:before{
	width: 0;
	height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    content: "";
    position: absolute;
    bottom: -15px;left: calc(50% - 10px);
    display: none;
}
header nav ul li.menu-sub:hover a:before{display: block;}
header nav ul li .menu-sub-item .categorias .detail-item i{color: #ec110b;}
header nav ul li .menu-sub-item .categorias a{color: #7b7979;}
header nav ul li .menu-sub-item .categorias a:hover{color: #ec110b;}
header nav ul li:hover > a > i:before{content: '\f106';}
header nav ul li:hover .menu-sub-item, header nav ul li:active .menu-sub-item{display: block;top: 100% !important;opacity: 1;-webkit-transition: opacity 0.2s;transition: opacity 0.2s;}
header .menu-sub-item .categorias{display: flex;flex-flow: row wrap;}
header .menu-sub-item .categorias .vertical-menu{width: 15%;border-right: 1px solid #efefef;}
header .menu-sub-item .categorias .vertical-menu h4{text-transform: none;margin: 0px 0px 30px 0px;width: 100%;font-size: 18px;}
header .menu-sub-item .categorias .vertical-menu ul li{color: #7b7979;text-transform: none;margin: 0px 0px 15px 0px;display: block;font-weight: normal;font-size: 16px;line-height: 18px;}
header .menu-sub-item .categorias .details-menu{width: 85%;padding-left: 40px;}
header .menu-sub-item .categorias .details-menu .detail-title{width: 100%;margin: 0px 0px 25px 0px;}
header .menu-sub-item .categorias .details-menu .detail-title h4{text-transform: none;font-size: 18px;}
header .menu-sub-item .categorias .details-menu .detail-contain{display: flex;flex-flow: row wrap;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item:hover a{color: #ec110b;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item{width: 25%;display: flex;flex-flow: row wrap;align-items: center;margin-bottom: 25px;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item a{display: flex;flex-flow: row wrap;align-items: center;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item a img{display: flex;flex: 0 0;width: 25px;margin-right: 10px;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item a span{flex: 1 0;color: #7b7979;text-transform: none;font-weight: normal;font-size: 16px;}
header .menu-sub-item .categorias .details-menu .detail-contain .detail-item a:hover span{color: #ec110b;}
header .menu-sub-item .brands{display: flex;flex-flow: row wrap;}
header .menu-sub-item .brands .brands-slideshow{width: 100%;padding: 0px 20px;position: relative;}
header .menu-sub-item .brands .brands-slideshow .slick-arrow{position: absolute;top: calc(50% - 16px);font-size: 32px;}
header .menu-sub-item .brands .brands-slideshow .slick-arrow#prev{left: 0px;}
header .menu-sub-item .brands .brands-slideshow .slick-arrow#next{right: 0px;}
header .menu-sub-item .brands .brands-slideshow .brand{border-right: 1px solid #2f2f2f;padding: 20px;}
header .menu-sub-item .brands .brands-slideshow .brand:last-child{border-right-width: 0px;}
header .menu-sub-item .brands .brands-slideshow .brand a{text-align: center;}
header .menu-sub-item .brands .brands-slideshow .brand a h3{font-size: 18px;font-weight: bold;margin-top: 10px;}
header .menu-sub-item .brands .brands-slideshow .brand a img{width: 100%;}
header nav ul li .menu-sub-item .brands a{color: #7b7979;}
header nav ul li .menu-sub-item .brands a:hover{color: #ec110b;}



/* SLICK SLIDER */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
footer{
	background-color: #f5f5f5;
}
footer .row{display: flex;flex-flow:row wrap;justify-content: flex-start;}
footer .row .col-2{width: 50%;}
footer .row .col-4{width: 25%;}
footer .footer-section-1{
	background-color: #fff;
	padding: 20px;
	padding-top: 80px;
}
footer .footer-section-1 .mail-chimp{
	background-color:#a70f0a;
	padding: 20px;
}
footer .footer-section-1 .mail-chimp .titulo .titular{
	color: #fbea00;
	font-size: 16pt;
	line-height: 1.2;
	margin-bottom: 10px;
}
footer .footer-section-1 .mail-chimp .titulo .comentario{
	color: #fff;
	font-size: 12pt;
	line-height: 1.2;
	margin-bottom: 20px;
}
footer .footer-section-1 .mail-chimp .formulario-mc{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
footer .footer-section-1 .mail-chimp .formulario-mc input{
	padding: 10px 20px;
	font-size: 12pt;
	outline: 0;
}
footer .footer-section-1 .mail-chimp .formulario-mc input[type="email"]{
	flex: 1 1 auto;
	margin-right: 10px;
	color: #1f1f1f;
	background-color: #fff;
	border: 1px solid #a4a5a6;
}
footer .footer-section-1 .mail-chimp .formulario-mc input[type="submit"]{
	flex: 0 0 auto;
	background-color: #fdf200;
	color: #3f3d3a;
	border: 1px solid #ee2d09;
	font-weight: bold;
}
footer .footer-section-1 .mail-chimp .formulario-mc input[type="submit"]:hover{
	cursor: pointer;
}
footer .footer-section-1 .mail-chimp label
{
	display: block;
	margin-top: 10px;
	color: #fff;
}
footer .footer-section-1 .mail-chimp label a{
	color: #fff;
}
footer .copyright{
	border-top: 1px solid #af0f0a;
	border-bottom: 1px solid #af0f0a;
}
footer .footer-section-2{
	background-color: #ec110b;
}
footer .footer-section-2 > div{
	padding: 20px;
	color: #fff;
	font-size: 10pt;
}
footer .footer-section-2 .row{
	justify-content: space-between;
	font-size: 12pt;
}
footer .footer-section-2 .row .col-4{
	width: calc(25% - 50px);
	margin-bottom: 10px;
}
footer .footer-section-2 .row .col-4 .menu .titulo{
	background-color: #a70f0a;
	padding: 10px 20px;
}
footer .footer-section-2 .row .col-4 .menu .contenido{
	padding: 10px 20px;
	background-color: #ec110b;
}
footer .footer-section-2 .row .col-4 .menu .contenido ul{
	list-style: none;
}
footer .footer-section-2 .row .col-4 .menu .contenido ul li{
	margin-bottom: 10px;
}
footer .footer-section-2 .row .col-4 .menu .contenido ul li a{
	color: #fff;
	text-decoration: none;
}
footer .footer-section-2 .row .col-4 .menu .contenido ul li a:hover{
	text-decoration: underline;
}
